<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="image" href="/moh.jpg">
    <title>Dashboard Scanner</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script type="text/javascript" src="/tableToExcel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%# Head Font Start %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
        .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

    </style>
    <%# Head Font End %>

</head>
<body>
    <div class="flex flex-row h-screen">
    <%- include("./component/sidemenu.ejs", {active: 1}) %>
    <div class="flex w-full flex-row justify-between items-start p-10 bg-[#FAFBFB] gap-5">
        <div class="flex flex-col items-start justify-start w-8/12">
        <div class="flex justify-start items-center ">
            <h1 class="poppins-extrabold text-4xl text-gray-700" id="mode">Resi</h1>
        </div>
        <video id="video" class="w-full"></video>
    </div>
        <div class="flex flex-col h-[80vh] overflow-y-scroll p-3 bg-white px-3 py-10 rounded-4xl border-1 border-gray-200">
            <% for(i of key){ %>
            <div class="flex flex-row gap-2">
                <div class="p-2 bg-gray-700 rounded-full"></div>
                <div class="flex flex-col justify-center items-start p-2 gap-1">
                    <span class="text-lg poppins-bold text-gray-700"><%= i %></span>
                    <span class="poppins-regular text-lg text-gray-400" id="<%= i.split(" ").join("").toLowerCase().replace(/[^a-zA-Z0-9\s]/g, '') %>"></span>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<script type="module">
    let mode_resi = true
    const searchtbls = document.querySelector("#scrh")
    const tbls = document.querySelector("#hasil")
    function handleRequestRESI(query) {
        fetch("/search?query="+query).then(data=>{
            data.json().then(res=>{
                if (res.length == 0) {
                    Swal.fire({
                        icon: "error",
                        title: "Not Found",
                        showConfirmButton: false,
                        timer: 1500
                     });
                } else {
                const obj = Object.keys(res[0])
                console.log(res)
                for (let i of obj) {
                        console.log(res[0][i])
                        document.querySelector("#"+i.split(" ").join("").toLowerCase().replace(/[^a-zA-Z0-9\s]/g, '')).innerHTML = res[0][i]
        }
        Swal.fire({
  icon: "success",
  title: "Your work has been saved",
  showConfirmButton: false,
  timer: 1500
});
mode_resi=false
document.querySelector("#mode").innerHTML = "SKU"
}
    })
    
})
    }
    function handleRequestSKU(query) {
        const sku = query.split(";")[0]
        const qty = query.split(";")[1]
        const tblsku = document.querySelector("#sellersku")
        const tblqty = document.querySelector("#quantity")
        const resi = document.querySelector("#trackingid")
        if (sku == tblsku.innerHTML && qty == tblqty.innerHTML)  {
fetch("/push?query="+resi.innerHTML).then(data=>{
    data.json().then(res=>{
        if (res.length == 0) {
        Swal.fire({
  icon: "error",
  title: "Not Found",
  showConfirmButton: false,
  timer: 1500
})
        } else {
            Swal.fire({
  icon: "success",
  title: "Your work has been saved",
  showConfirmButton: false,
  timer: 1500
})
        }
    })})
mode_resi = true
document.querySelector("#mode").innerHTML = "Resi"
    } else {
        Swal.fire({
  icon: "error",
  title: "Wrong items",
  showConfirmButton: false,
  timer: 1500
});
mode_resi = true
document.querySelector("#mode").innerHTML = "Resi"
    }
}
     import QrScanner from '/qr-scanner/qr-scanner.min.js'
        try {
            let videoElem = document.querySelector('video');
            //const str = document.querySelector("h1")
            let cnd = ""
            const qrScanner = new QrScanner(
                videoElem,
                result => {
                    if (cnd !== result) {
                        console.log('decoded qr code:'+ result)
                        cnd = result
                        if (mode_resi == true) {
                       handleRequestRESI(result)
                    }else {
                        handleRequestSKU(result)
                    }
                    }
                }
                
            );
            qrScanner.start();
        } catch (error) {
            console.log(error);
            fetch("/log/"+error)
        }
</script>
</body>
</html>